# Generated assembly files
*.s

# Generated map file
*.map

# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.xex

# Generated font file
gemdrop-font.h

# Compiled tools
tools/fonts-to-h
