# Backup files
*~

# Generated assembly files
*.s

# Generated map file
*.map

# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Generated executables & disk images
gemdrop.xex
gemdropd.xex
gemdrop.atr

# Generated font files
gemdrop-font.h
title-font.h

# Generated binary header files
song1.h
lib/rmtplayr.h
lib/rmtplayr.obx

# Compiled tools
tools/title-to-font
tools/fonts-to-h

# Generated data
data/generated

# Release directory
release

# blank.atr disk image (source of gemdrop.atr.in)
blank.atr

