# Generated assembly files
*.s

# Generated map file
*.map

# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.xex

# Generated font files
gemdrop-font.h
title-font.h

# Compiled tools
tools/title-to-font
tools/fonts-to-h

# Generated data
data/generated

